html{
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

/*Контейнер*/
.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

/*интро*/
.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;

	background: url("../images/bg.png") center no-repeat;
	background-size:cover;
	background-size:cover;
}
.intro__title{
	font-size: 100px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}
.intro__inner{
	width:100%;
	max-width: 880px;
	margin: 0 auto;

	text-align: center;
}


/*header*/
.header {
	width: 100%;
	padding-top: 10px;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__logo{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*навигация*/
.nav{
	font-size: 14px;
	text-transform: uppercase;

}

.nav__link{
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;

	transition: color .2s linear;
}

.nav__link:hover {
	color: #4800ff;
}

/*кнопка*/
.btn{
	display: inline-block;
	vertical-align: top;
	padding: 5px 30px;

	border: 3px solid #fff;

	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	position: relative;
	top: 30px;
	transition: color .2s linear;
}
	.btn:hover {
		background-color: #fff;
		color: #4800ff
	}


	/*section*/
.section {
	padding: 80px 80px;

}
.section__header {
	margin-bottom: 40px;
	width: 100%;
	max-width: 950px;
	margin: 0 auto 40px;
	text-align: center;
}
.section__title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
}

/*photo*/
.photo{
	display: flex;
	justify-content: space-between;
margin-bottom: 75px;
}
.photo__item{
	width: 380px;
}

.photo__item:hover .photo__img img {
	opacity: .5;
}

.photo__img {
	background: linear-gradient(to bottom, #effaf1,#ad7ff6);
}

.photo__img img{
	transition: opacity .1s linear;
	display: block;
}

/*скачать документы*/
.download{
	display: flex;
}

.download__item{
	flex: 1 1 0;

	padding-left: 90px;
	position: relative;
	margin-bottom: 70px;
}

.download__icon{
	position: absolute;
	top: 0px;
	left: 25px;
	z-index: 1;
}
.download__title{
	margin-bottom: 10px;
	
	font-size: 14px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
}

.download__text{
	font-size: 15px;
	color: #fff;
}

.link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url("../images/bg.png") center no-repeat;
	background-size: cover;
	background-size: cover;
}
.link__header {
	margin-bottom: 40px;
	width: 100%;
	max-width: 950px;
	margin: 0 auto 40px;
	text-align: center;
	color:#000000
}
.upbtn {
	display: inline-block;
	vertical-align: top;
	padding: 5px 30px;
	border: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	position: relative;
	top: 30px;
	transition: color .2s linear;
}

	.btn:hover {
		background-color: #fff;
		color: #4800ff
	}

.btn__case {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}
